[submodule "libft-llibrary.c"]
	path = libft-llibrary.c
	url = https://github.com/mazen-tech/libft-llibrary.c.git
[submodule "ft_printf.c"]
	path = ft_printf.c
	url = https://github.com/mazen-tech/ft_printf.c.git
[submodule "get_next_line.c"]
	path = get_next_line.c
	url = https://github.com/mazen-tech/get_next_line.c.git
[submodule "Born2beroot.sh"]
	path = Born2beroot.sh
	url = https://github.com/mazen-tech/Born2beroot.sh.git
[submodule "minitalk.c"]
	path = minitalk.c
	url = https://github.com/mazen-tech/minitalk.c.git
[submodule "push_swap.c"]
	path = push_swap.c
	url = https://github.com/mazen-tech/push_swap.c.git
[submodule "so_long.c"]
	path = so_long.c
	url = https://github.com/mazen-tech/so_long.c.git
[submodule "Cpp_models"]
	path = Cpp_models
	url = https://github.com/mazen-tech/42-Common_Core.git
